* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1200px;     
}

/* ------ header ------ */



.container__header {
    max-width: 1440px;
    margin: 0 auto;
}

.header__menu {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 19px 24px;
    background-color: #fff;
}

.header__logo img {
    width: 85px;
    height: 24px;
}

nav {
    padding: 0 50px;   
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #011F3A;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    padding: 0 25px;
    position: relative; 
    transition: 0.3s;  
}

.nav__item-link::before,
.header__account a::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/three_star.svg');
    left: 0;
    opacity: 0;
    transition: 0.3s;
}


.nav__item {
    position: relative;
}

.nav__item:last-of-type a::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/arrow_down.svg');
    right: 0;
    top: 1px;
    
}

.header__account a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #011F3A;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 50px;
    position: relative;
    transition: 0.3s;
}

.header__account a::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/cart.svg');
    right: 0;    
}

.nav__item-link:hover,
.header__account:hover {
    text-decoration: underline;    
}

.nav__item-link:hover::before,
.header__account a:hover::before {
    opacity: 1;
}


.header__inner {
    background-color: #F2AE4D;
}

.header__bg {
    padding-top: 165px;
    padding-bottom: 205px;
    background-image: url('../img/header__inner_bg.png');
    background-position: right 87px;
    background-repeat: no-repeat;
}

.header__content {
    max-width: 480px;
    color: #011F3A;
}

.header__content h2 {              
    font-size: 48px;
    margin-bottom: 33px;
}

.header__content p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 33px;
}
.header__content a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    padding: 19px 29px;
    background-color: #3D5675;
    border-radius: 44px;
    transition: 0.5s;
}

.header__content a:hover {
    color: #F2AE4D;
}

/* ------ logo ----- */


.logo {
    background-color: #fff;
}

.logo__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}
