* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1200px;     
}

/* ------ header ------ */



.container__header {
    max-width: 1440px;
    margin: 0 auto;
}

.header__menu {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 19px 24px;
    background-color: #fff;
}

.header__logo img {
    width: 85px;
    height: 24px;
}

nav {
    padding: 0 50px;   
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #011F3A;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    padding: 0 25px;
    position: relative; 
    transition: 0.3s;  
}

.nav__item-link::before,
.header__account a::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/three_star.svg');
    left: 0;
    opacity: 0;
    transition: 0.3s;
}


.nav__item {
    position: relative;
}

.nav__item:last-of-type a::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/arrow_down.svg');
    right: 0;
    top: 1px;
    
}

.header__account a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #011F3A;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 50px;
    position: relative;
    transition: 0.3s;
}

.header__account a::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/cart.svg');
    right: 0;    
}

.nav__item-link:hover,
.header__account:hover {
    text-decoration: underline;    
}

.nav__item-link:hover::before,
.header__account a:hover::before {
    opacity: 1;
}


.header__inner {
    background-color: #F2AE4D;
}

.header__bg {
    padding-top: 165px;
    padding-bottom: 205px;
    background-image: url('../img/header__inner_bg.png');
    background-position: right 87px;
    background-repeat: no-repeat;
}

.header__content {
    max-width: 480px;
    color: #011F3A;
}

.header__content h2 {              
    font-size: 48px;
    margin-bottom: 33px;
}

.header__content p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 33px;
}
.header__content a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    padding: 19px 29px;
    background-color: #3D5675;
    border-radius: 44px;
    transition: 0.5s;
}

.header__content a:hover {
    color: #F2AE4D;
}

/* ------ logo ----- */


.logo {
    background-color: #fff;
}

.logo__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;    
}


/* ------ customize ------ */


.customize {
    background-color: #eee;
}

.customize__block {
    padding-top: 57px;
    padding-bottom: 50px;
}

.customize__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 63px;
}

.customize__title h2 {
    font-size: 32px;
    color: #011F3A;

}

.customize__title a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    background-color: #3D5675;
    border-radius: 44px;
    padding: 13px 25px;
    transition: 0.5s;
}

.customize__title a:hover {
    color: #F2AE4D;
}

.customize__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1px;
    row-gap: 1px;
    margin-bottom: 46px;
}

.customize__cards a {
    text-decoration: none;
    display: flex;
}

.card__item {
    max-width: 398px;
    background-color: #fff;
    transition: 0.5s;
}

.card__item:hover {
    background-color: #f2f2f2;
}

.card__item img {
    width: 100%;
}

.card__item h4 {
    font-size: 18px;
    color: #011F3A;
    letter-spacing: 0.36px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 8px;
}

.card__content {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 4px;
}

.card__content-spec {
    width: 60%;
    color: #777
}

.card__content-price {
    text-align: end;
    color: #A1A1A1;
}

.unbranded {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.unbranded span {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #A1A1A1;
    
}

.unbranded a {
    text-decoration: none;
    color: #3D5675;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    padding: 13px 25px;
    background-color: #fff;
    border-radius: 44px;
    transition: 0.5s;
}

.unbranded a:hover {
    background-color: #F2AE4D;
}

/* ------ boxes ------ */


.boxes {
    background-color: #eee;
    padding: 70px 0;
}

.boxes__block {
    padding: 88px 0;
    background-color: #72BDA3;
    text-align: center;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
}

.boxes__block h2 {    
    font-size: 32px;
    line-height: 41px;
    color: #011F3A;
    margin-bottom: 46px;
}

.boxes__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 76px;
}

.boxes__item {
    text-align: center;
    max-width: 300px;
}

.boxes__item img {
    width: 100%;
    margin-bottom: 12px;
}

.boxes__item h4 {
    font-size: 18px;
    line-height: 23px;
    color: #011F3A;
    letter-spacing: 0.36px;
    margin-bottom: 10px;
}

.boxes__item p {
    padding-right: 51px;
    padding-left: 51px;
    color: #3D5675;
    font-size: 15px;
    line-height: 24px;
}

.boxes__block a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 25px;
    background-color: #3D5675;
    border-radius: 44px;
    transition: 0.5s;
}

.boxes__block a:hover {
    color: #F2AE4D;
}

/* ------ advantage ------- */

.advantage {
    background-color: #eee;
}

.advantage__block {
    padding: 0 42px;
    padding-top: 88px;
    padding-bottom: 141px;    
}

.advantage__block h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    color: #011F3A;
    margin-bottom: 82px;
}

.advantage__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage__item {
    max-width: 254px;
}

.advantage__item img {
    width: 100%;
    margin-bottom: 54px;
}

.advantage__item h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: #011F3A;
    letter-spacing: 0.36px;
    margin-bottom: 12px;
}

.advantage__item p {
    font-size: 15px;
    line-height: 23px;
    color: #A1A1A1;
    margin-bottom: 2px;
}


/* ------ need ------- */


.need {
    background-color: #eee;
    padding: 60px 0;
}

.need__block {
    padding: 110px 0;    
    display: flex;
    flex-wrap: wrap;
    background-color: #FFCA3A;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
    
}

.need__item {        
    padding: 0 120px;    
    max-width: 50%;
}

.need__item:last-of-type {
    border-left: 1px solid rgba(161, 161, 161, 0.4);
}

.need__card {
    text-align: center;
    max-width: 360px;    
}

.need__card img {
    margin-bottom: 24px;
}

.need__card h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #011F3A;
    margin-bottom: 14px;
}

.need__card p {
    font-size: 15px;
    line-height: 24px;
    color: #3D5675;    
    margin-bottom: 23px;
}

.need__card a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #3D5675;
    background-color: #fff;
    padding: 13px 25px;
    border-radius: 44px;
    transition: 0.5s;
}

.need__card a:hover {    
    background-color: #F2AE4D;    
}


/* ----- merchants ------ */


.merchants {
    background-color: #eee;
}

.merchants__block {
    padding-top: 88px;
    padding-bottom: 57px;
    
}

.merchants__block h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 59px;
}

.merchants__list {    
    background-color: #fff;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
}

.merch__company {
    display: flex;
    flex-wrap: wrap;        
}

.company__item {      
    padding-top: 100px;
    padding-bottom: 145px;
    display: flex; 
    justify-content: center;   
    flex: 1; 
       
}

.company__item a {
    text-decoration: none;
    
}

.company__item-img {
    margin-bottom: 20px;
}

.company__item-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars {
    display: inline;
    opacity: 0.6;
    padding-right: 4px;
}

.company__item-rating span {
    font-size: 18px;
    letter-spacing: 0.36px;
    color: #011F3A;
}

.company__item:hover .stars {
    opacity: 1;
}

.merch__user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
}

.user__item {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.user__item-img img {
    max-width: 100%;           
    display: block;
    margin-bottom: -1px;
}

.user__card {
    max-width: 612px;
    padding: 62px 106px;    
}

.user__card-review {    
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #011F3A;
    margin-bottom: 12px;
}

.card__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user__info {
    display: flex;
}

.user__photo {    
    margin-right: 20px;
}

.user__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user__name {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #011F3A;
    
}

.product__name {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #A1A1A1;
}

.card__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__footer-link {    
    text-decoration: none;    
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
    padding: 13px 25px;
    border-radius: 44px;    
    background-color: #f2f2f2;
    transition: 0.5s;
}

.card__footer-link:hover {
    background-color: #F2AE4D;    
}


/* -------- it --------- */


.it {
    background-color: #eee;
}

.it__block {
    padding-top: 120px;
    padding-bottom: 137px;
    text-align: center;
}

.it__block h2 {
    font-size: 31px;
    font-weight: 700;
    color: #011F3A;
    margin-bottom: 56px;
}

.link__disign {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 25px;
    background-color: #3d5675;
    border-radius: 44px;
    margin-right: 11px;
    transition: 0.5s;
}

.link__disign:hover {
    color:#F2AE4D
}

.link__products {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
    background-color: #fff;
    padding: 13px 25px;
    border-radius: 44px;
    transition: 0.5s;
}

.link__products:hover {
    background-color: #F2AE4D;
}



/* ------- footer ------- */


footer {
    background-color: #f2f3f4;
}

.footer {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__logo {
    margin-right: 90px;
}

.footer__list {
    display: flex;
    flex-direction: column; 
    margin-right: 90px; 
    margin-bottom: 17px;  
}

.footer__link {
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    color: #3D5675;
    margin-bottom: 17px;
    transition: 0.5s;
}

.footer__link:hover {
    text-decoration: underline;
}

.social__link img {
    opacity: 0.7;
    transition: 0.3s;
}

.social__link a {
    text-decoration: none;
    margin-right: 11px;
}

.social__link img:hover {
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
}

.form h4 {
    font-size: 15px;
    font-weight: 400;
    color: #3D5675;
    margin-bottom: 17px;
}

.form input {
    font-size: 15px;
    font-style: italic;
    color: #3D5675;
    outline: none;
    border: none;
    padding: 9px 18px;
    border-radius: 44px;
    margin-bottom: 21px;
}

.btn {
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #3D5675;
    border-radius: 44px;
    padding: 11px 30px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    color: #F2AE4D;
}